<div class="form-container">
    <h2>Formulario de Registro</h2>

    <!-- <form [formGroup]="form" (submit)="submit()">

        <div class="form-grid">
            <app-control-wrapper [control]="form.controls['id']">
                <label for="id">ID</label>
                <input type="text" id="id" formControlName="id">
            </app-control-wrapper>
    
            <app-control-wrapper [control]="form.controls['name']">
                <label for="name">Nombre</label>
                <input type="text" id="name" formControlName="name">
            </app-control-wrapper>
    
            <app-control-wrapper [control]="form.controls['description']">
                <label for="description">Descripción</label>
                <input type="text" id="description" formControlName="description">
            </app-control-wrapper>
    
            <app-control-wrapper [control]="form.controls['logo']">
                <label for="logo">Logo</label>
                <input type="text" id="logo" formControlName="logo">
            </app-control-wrapper>
    
            <app-control-wrapper [control]="form.controls['date_release']">
                <label for="date_release">Fecha Liberación</label>
                <input type="date" id="date_release" (ngModelChange)="dateChange($event)"
                [(ngModel)]="releaseDate" [ngModelOptions]="{standalone: true}">
            </app-control-wrapper>
    
            <app-control-wrapper [control]="form.controls['date_revision']">
                <label for="date_revision">Fecha Revisión</label>
                <input type="date" id="date_revision" [(ngModel)]="revisionDate" [ngModelOptions]="{standalone: true}" disabled>
            </app-control-wrapper>
        </div>

        <div class="form-actions">
            <button class="button secondary" type="button" (click)="form.reset()">Reiniciar</button>
            <button class="button primary" type="submit" [class.disabled]="form.invalid || loading">Enviar</button>
        </div>

    </form> -->
</div>
