<div class="background">
    @if (source | tableFilter:query; as filtered) {

        <div class="table-container">
    
            <table>
    
                <thead>
                    <tr>
                        <ng-content select="[table-header]"></ng-content>
                    </tr>
                </thead>
    
                <tbody>
    
                    @for (row of filtered | paginate:currentPage:pageLength; track row.id) {
                        <ng-container
                        [ngTemplateOutletContext]="{ $implicit: row }"
                        [ngTemplateOutlet]="rowTemplate"></ng-container>
                    }
    
                    @empty {
                        <tr>
                            <td [attr.colspan]="totalColumns">No hay registros</td>
                        </tr>
                    }
    
                </tbody>
            </table>
        </div>
    
        <div class="table-navigation">
            <b>{{ filtered.length }} Resultados</b>

            <app-pagination
            [currentPage]="currentPage"
            [total]="filtered.length"
            [pageLength]="pageLength"
            (pageChanged)="this.currentPage = $event" />
    
            <select [(ngModel)]="pageLength" (ngModelChange)="currentPage = 1">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="20">20</option>
            </select>
        </div>
    } 
</div>
